{% extends 'base.html' %}

{% block body %}
    <section id="log-in">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <h1>Reset password</h1>
                {% if form.non_field_errors %}
                    <div class="long_field">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="long_field">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <span class="error_marker">X</span>
                        {{ form.username.errors }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="submit">
                    <input type="submit" value="Reset password" />
                </div>
            </div>
        </form>
    </section>
{% endblock %}