{% extends 'account/base.html' %}

{% block subnav %}
    {% with active="my-password" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="long_field">
                {{ form.old_password.label_tag }}
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <span class="error_marker">X</span>
                    {{ form.old_password.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="short_field">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <span class="error_marker">X</span>
                    {{ form.new_password1.errors }}
                {% endif %}
            </div>
            <div class="short_field">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <span class="error_marker">X</span>
                    {{ form.new_password2.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="submit">
                <input type="submit" value="Change password" />
            </div>
        </div>
    <form>
{% endblock %}