{% extends 'base.html' %}

{% block body %}
	<section id="log-in">
		<form action="" method="POST">
			{% csrf_token %}
			<div class="row">
				<h1>Log in</h1>
				{{ form.non_field_errors }}
			</div>
			<div class="row">
				<div class="long_field">
					{{ form.username.label_tag }}
					{{ form.username }}
					{% if form.username.errors %}
						<span class="error_marker">X</span>
						{{ form.username.errors }}
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="long_field">
					{{ form.password.label_tag }}
					{{ form.password }}
					{% if form.password.errors %}
						<span class="error_marker">X</span>
						{{ form.password.errors }}
					{% endif %}
				</div>
			</div>
			<div class="row">
                {{ form.errors }}
                {% for error in form.errors %}
                    <div class="form_error">{{ error }}</div>
                {% endfor %}
				<div class="submit">
					<input type="submit" value="Sign in" />
				</div>
			</div>
		</form>
	</section>
{% endblock %}