@charset "UTF-8";

$primary: #309A92;
$highlight: #21B6AE;
$cta: #FC8563;
$orange: #FC8563;
$dark: #343A39;
$light: #EFF4F3;
$white: #FFFFFF;
$red: #D9312F;
$mid-grey: #ccc;
$dark-grey: #888;

$shadow-deep: 3px 3px 0 rgba(0,0,0,0.2);