@import
	"foundation/_variables",
	"formd/_colours";

#hero {
	text-align:center;
	background: $primary;
	padding: 50px 0 100px;
	hgroup {
		margin-bottom: 50px;
	}

	h1, h2 {
		margin: 0;
		color: $light;
		font-weight: 200;
	}

	.cta {
		span.prices {
			color: $light;
		}
	}
}

a.btn, input.btn {
	@include button($radius:$global-radius);
	box-shadow: $shadow-deep;
	margin-bottom: 15px;
}

.info-panel {
	padding: 50px 0;

	&.light {
		background: $light;
		color: $dark;
	}

	&.dark {
		background: $dark;
		color: $light;
	}
}

.intro_feature {
	@include grid-column(4);

	img {
		display: block;
		margin: 0 auto 10px;
	}

	h3 {
		text-align: center;
	}
}

#selling_points {
	@include block-grid(3);
}

blockquote {
	margin-bottom: 0;
	color: $light;
	border-width: 2px;
	cite {
		color: $light;
	}
}

.plan {
	@include grid-column(3);

	text-align: center;

	&.disabled {
		color: $dark-grey;

		ul {
			border-color: $mid-grey;

			.name {
				background-color: $mid-grey;
			}

			.messages {
				border-color: $mid-grey;
			}
		}
	}

	ul {
		list-style: none;
		margin: 0 0 15px;
		border-radius: $global-radius;
		border: 1px solid $highlight;

		li {
			padding: 10px 0;
		}
		.name {
			background: $highlight;

			h4 {
				margin: 0;
				color: $light;
				text-transform: uppercase;
			}
		}
		.messages {
			border-bottom: 1px solid $highlight;
		}
	}

	.month {
		font-size: 12px;
	}

	.current_plan {
		@include button($radius:$global-radius, $bg:$mid-grey);
	}


}


