<header id="nav">
    <div class="row">
        <a href="/"><h1 id="logo">formd.io</h1></a>
        <div id="account">
            {% if user.is_authenticated %}
                Welcome {{ user.email }}
                <a href="{% url 'my-account' %}">account</a>
                <a href="{% url 'logout' %}">log out</a>
            {% else %}
                <a href="{% url 'log-in' %}">Log in</a>
                or
                <a href="{% url 'sign-up' %}" class="highlight">Sign up</a>
            {% endif %}
        </div>
    </div>
</header>