{% extends 'account/base.html' %}
{% load quota_tags %}

{% block subnav %}
    {% with active="my-concepts" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="row">
        <table id="form_list">
            <thead>
                <tr>
                    <th>Form</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for concept in concepts %}
                    <tr>
                        <td>{{ concept }}</td>
                        <td class="cell_small">{{ concept.active }}</td>
                        <td class="cell_small"><a href="{% url 'view-concept' concept_code=concept.code %}">edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="inline-form">
                        <a href="{% url 'new-concept' %}" class="btn" id="new_form">Add new form</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <div class="long_field">

        </div>
    </div>
{% endblock %}