{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #nav {
            position: fixed;
        }
    </style>
{% endblock %}

{% block body %}
    <section id="hero">
        <div class="row">
            <div class="hero_content">
            <hgroup>
                <h1>Form processing. Simplified.</h1>
                <h2>A hosted backend for your static websites.</h2>
            </hgroup>
            <div class="cta">
                <a href="{% url 'sign-up' %}" class="btn">Sign up now</a><br />
                <span class="prices">Free trial - no credit card requird</span>
            </div>
            </div>
        </div>
    </section>
    <section class="info-panel light">
        <div class="row">
            <div class="intro_feature" id="your-site">
                <img src="{% static 'images/website.png' %}">
                <h3>Your forms</h3>
                <p>Formd.io works with your own markup, submit whatever data you like, so long as you include your form token and point it at us, we'll handle the rest.</p>
            </div>
            <div class="intro_feature" id="our-site">
                <img src="{% static 'images/server.png' %}">
                <h3>Our servers</h3>
                <p>Our servers will receive requests from your uses and process them into templates that you have complete control over.</p>
            </div>
            <div class="intro_feature" id="your-email">
                <img src="{% static 'images/email.png' %}">
                <h3>Your email</h3>
                <p>Get messages delivered straight to your inbox as they come in. All your messages are also securely stored in the cloud and you can access them anytime you want.</p>
            </div>
        </div>
    </section>
    {% comment %}
    <section class="info-panel dark">
        <div class="row">
            <ul class="row" id="selling_points">
                <li class="selling_point">
                    <strong>Secure</strong><br />
                    a one liner describing above.
                </li>
                <li class="selling_point">
                    <strong>Reliable</strong><br />
                    a one liner describing above.
                </li>
                <li class="selling_point">
                    <strong>Fast</strong><br />
                    a one liner describing above.
                </li>
                <li class="selling_point">
                    <strong>Simple</strong><br />
                    a one liner describing above.
                </li>
                <li class="selling_point">
                    <strong>access</strong><br />
                    a one liner describing above.
                </li>
                <li class="selling_point">
                    <strong>access</strong><br />
                    a one liner describing above.
                </li>
            </ul>
        </div>
    </section>
    {% endcomment %}
    <section class="info-panel dark">
        <div class="row">
            <blockquote>
                Using formd.io allowed me to add a simple contact form to my website, replacing my old email links and increased engagement with visitors by over 200%.
                <cite>Vickie Biscoe - http://www.nailsbybiscuit.co.uk</cite>
            </blockquote>
        </div>
    </section>
    <section class="info-panel light" id="prices">
        <div class="row">
            <div class="plan">
                <ul>
                    <li class="name"><h4>Trial</h4></li>
                    <li class="messages">Unlimited forms</li>
                    <li class="messages">Unlimited domains</li>
                    <li class="messages">25 msg<span class="month">/month</span></li>
                    <li class="price">&pound;0<span class="month">/month</span></li>
                </ul>
            </div>
            <div class="plan">
                <ul>
                    <li class="name"><h4>Light</h4></li>
                    <li class="messages">Unlimited forms</li>
                    <li class="messages">Unlimited domains</li>
                    <li class="messages">250 msg<span class="month">/month</span></li>
                    <li class="price">&pound;14<span class="month">/month</span></li>
                </ul>
            </div>
            <div class="plan">
                <ul>
                    <li class="name"><h4>Standard</h4></li>
                    <li class="messages">Unlimited forms</li>
                    <li class="messages">Unlimited domains</li>
                    <li class="messages">1000 msg<span class="month">/month</span></li>
                    <li class="price">&pound;29<span class="month">/month</span></li>
                </ul>
            </div>
            <div class="plan">
                <ul>
                    <li class="name"><h4>Heavy</h4></li>
                    <li class="messages">Unlimited forms</li>
                    <li class="messages">Unlimited domains</li>
                    <li class="messages">5000 msg<span class="month">/month</span></li>
                    <li class="price">&pound;49<span class="month">/month</span></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}

{% block tail_js %}
    {{ block.super }}
    <script type="text/javascript">
        formd.heroBanner();
    </script>
{% endblock %}

